@import url("stylesheet.css");

/* 
#20283d - black
#426e5d - green
#e5b083 - orange
#fbf7f3 - white
*/
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    row-gap: 10px;
    margin: 0 auto;
    border: #20283d ;
}

#submit_button {
    background-color: var(--green);
    border: 2px solid var(--green);
}

#submit_button:hover {
    background-color: white;
    color: var(--black);
    width: 90px;
}

body {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

/* button {
    transition-duration: 0.4s;
    color: var(--white);
    border-radius: 3px;
    height: 40px;
    width: 70px;
    min-width: 0;
} */

ul {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

li {
    text-align: center;
}


#form_background {
    display: block;
    background-color: var(--black);
    padding: 20px;
    margin: 50px;
    width: 300px;
    height: 400px;
    text-align: center;

    border-radius: 50px;
}