@import url("stylesheet.css");

/* 
Dark colors to light colors.
#20283d - black - color1
#426e5d - green - color2
#e5b083 - orange -  color3
#fbf7f3 - white - color4
*/
form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10vh;
    padding-bottom: 10vh;
    align-items: center;
    row-gap: 10px;
    margin: 0 auto;
    border: #20283d ;
}

#submit_button {
    background-color: var(--color2);
    border: 2px solid var(--color2);
}

#submit_button:hover {
    background-color: var(--color4);
    color: var(--color1);
    width: 90px;
}

body {
    background-color: var(--color4);
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
    text-align: center;
    display: inline-block;
}

li {
    text-align: center;
}


#form_background {
    display: block;
    background-color: var(--color1);
    padding: 20px;
    margin: 50px;
    width: 300px;
    height: 400px;
    text-align: center;

    border-radius: 50px;
}

a#log_in_create_account {
    transition-duration: 0.4s;
    color: var(--color4);
}

a#log_in_create_account:hover {
    color: var(--color4);
    font-size: large;
}

a+p {
    color: var(--color4);
}

#logo_container {
    width: calc(var(--logowidth)*2);
    height: calc(var(--logoheight)*2);
    text-align: center;
}